@model List<eMat.DA.tbGrupo>




<div class="content">
    <div class="table">
        <div class="row">
            <div class="column title">Curso</div>
            <div class="column title">Id</div>
            <div class="column title">Grupo</div>
            <div class="column title">Horario</div>
        </div>
        @foreach (var item in Model)
        {
            using (Html.BeginForm("Matricular", "Grupos", "POST"))
            {
                @Html.HiddenFor(model => ((eMat.DA.tbEstudiante)Session["estudiante"]).carnet)

                @Html.HiddenFor(model => item.idGrupo)

                @Html.Hidden("cuatrimestre", "1")

                @Html.Hidden("annio", DateTime.Today.Year)
                <div class="row">
                    <div class="column">
                        @item.tbCurso.nombre
                    </div>
                    <div class="column">
                        @item.idCurso
                    </div>
                    <div class="column">
                        @item.idGrupo
                    </div>
                    <div class="column">
                        @item.horario
                    </div>
                    <div class="column">
                        <input type="submit" value="Matricular" class="btn btn-default" />
                    </div>
                </div>
            }

        }

    </div>
</div>
