@{
    ViewBag.vertMenu = "perfil";
    eMat.DA.tbEstudiante est = ((eMat.DA.tbEstudiante)Session["estudiante"]);
}
<div class="content">
    <h2>Perfil</h2>
    <h3>
        Carnet: @est.carnet
    </h3>
    <h3>
        Cedula: @est.cedula
    </h3>
    <h3>
        Nombre: @est.nombre @est.apellidos
    </h3>
    <h3>
        Direccion: @est.direccion
    </h3>
    <h3>
        Email: @est.email
    </h3>
    <h3>
        Telefono: @est.telefono
    </h3>

</div>