@model eMat.DA.tbEstudiante
@{
    ViewBag.vertMenu = "perfil";
    eMat.DA.tbEstudiante est = ((eMat.DA.tbEstudiante)Session["estudiante"]);
}
<h3>
   Cedula: @est.cedula
</h3>
<h3>
    Carnet: @est.carnet
</h3>
<h3>
    Nombre: @est.nombre @est.apellidos
</h3>
<h3>
    Direccion: @est.direccion
</h3>
<h3>
    Email: @est.email
</h3>
<h3>
    Telefono: @est.telefono
</h3>
