<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.light_blue-indigo.min.css" />
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li> @*Si la sesion esta iniciada muestra el perfil del usuario, si no, muestra el login*@
                    <li>@Html.ActionLink("Oferta Academica", "About", "PlanEstudios")</li>
                    <li>@Html.ActionLink("Matricula", "Contact", "Matricula")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    @{
        List<string> menuList = new List<string>();
        switch ((string)ViewBag.vertMenu)
        {
            case "perfil":
                menuList.Clear();
                menuList.Add("Expediente,Perfil,Expediente");
                menuList.Add("Actual,Perfil,Actual");
                break;
            case "oferAcad":
                menuList.Clear();
                break;
            case "Matricula":
                menuList.Clear();
                break;
            default:
                menuList.Clear();
                break;
        }
            }
    @if (menuList.Count() > 0)
    {
        <div class="left-nav">
            <ul class="nav navbar-nav">
                @foreach (string menuItem in menuList)
            {
                string[] menuOption = menuItem.Split(',');
                    <li>@Html.ActionLink(menuOption[0], menuOption[1], menuOption[2])</li>
                }
            </ul>
        </div>
    }
   

        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")
            @RenderSection("scripts", required: false)
        </body>
    </html>
